<title>{{diario.titulo}}</title>
<h1>{{diario.titulo}}</h1>


<img src="{{ diario.pre_visualizacion.url }}" alt="Previsualizacion de {{ diario.titulo }}" width="300">

<p><strong>Fecha:</strong> {{diario.fecha}}</p>
<p><strong>Localidad:</strong>{{diario.localidad}}</p>
<p><strong>Codigo:</strong>{{diario.cod}}</p>

<a href="{% url 'search_form' %}">Volver a la búsqueda</a>

<form action="{% url 'registrar_visita' diario.id %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if disponibilidad.disponible %}
            <button type="submit">Pedir diario</button>
        {% else %}
            <button type="button" disabled>Diario no disponible</button>
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}">
            <button type="button">Inicia sesión para pedir un diario</button>
        </a>
    {% endif %}
</form>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

