<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemeroteca Biblioteca Nacional</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="library-theme">
    <header>
        <h1>Diarios Biblioteca Nacional</h1>
        <div class="auth-buttons">
            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button">Cerrar Sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="button auth-button">Iniciar Sesión</a>
                <a href="{% url 'iniciarsesion' %}" class="button auth-button">Registrarse</a>
            {% endif %}
        </div>
    </header>
    <main>
        <nav>
            <a href="{% url 'search_form' %}" class="button">Abrir buscador de diarios</a>
            <a href="{% url 'perfil_usuario' %}" class="button">Perfil</a>
        </nav>
    </main>
</body>
</html>
