<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="library-theme">
    <header>
        <h1>Iniciar Sesión</h1>
    </header>
    <main>
        <div class="form-container">
            {% if form.non_field_errors %}
                <p class="alert">{{ form.non_field_errors }}</p>
            {% endif %}
            <form action="{% url 'login' %}" method="POST" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Iniciar Sesión</button>
            </form>
            <p>¿No tienes cuenta? <a href="{% url 'iniciarsesion' %}" class="link">Regístrate aquí</a></p>
        </div>
    </main>
</body>
</html>
