<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="library-theme">
    <header>
        <h1>Registrarse</h1>
    </header>
    <main>
        {% if form.errors %}
            <p class="alert">{{ form.errors }}</p>
        {% endif %}
        
        <form action="{% url 'iniciarsesion' %}" method="POST" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button primary">Registrarse</button>
        </form>

        <p>¿Ya tienes una cuenta? 
            <a href="{% url 'login' %}" class="link">Inicia sesión aquí</a>
        </p>
    </main>
</body>
</html>

