<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="library-theme">
    <header>
        <h1>Registrarse</h1>
    </header>
    <main>
        <div class="form-container">
            {% if form.errors %}
                <div class="alert">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            <form action="{% url 'iniciarsesion' %}" method="POST" class="auth-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Registrarse</button>
            </form>

            <p>¿Ya tienes una cuenta? 
                <a href="{% url 'login' %}" class="link">Inicia sesión aquí</a>
            </p>
        </div>
    </main>
</body>
</html>
